* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #242424;
  font-family: Neue Kabel;
  font-style: normal;
}


header {
  font-weight: 900;
  font-size: 48px;
  line-height: 50px;
  margin: 100px 0;

  align-items: center;
  text-align: center;
  
  text-transform: uppercase;
}

footer {
  align-items: center;
  text-align: center;
  margin-bottom: 370px;
  h3 {
    font-family: Neue Kabel;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */

    text-align: center;
    margin-bottom: 15px;
  }
  p {
    font-family: Neue Kabel;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
  }
}

.headers {
  font-weight: 900;
  font-size: 36px;
  line-height: 50px;
  cursor: pointer;


  margin: 0 20px 130px 20px;
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  li {
    width: 250px;
  }
}

li {
  list-style-type: none;
  cursor: pointer;
}

.active {
  display: grid;
  justify-content: space-around;
}

.question-list {
  justify-content: center;
  align-self: center ;
  background: #FFFFFF;
  box-shadow: 0px 2px 35px rgba(0, 0, 0, 0.104308);
  border-radius: 31.4815px;
  padding: 21px 41px;
  margin: 0 0 17px 0;
  width: 1149px;
  
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}

.faq-question {
  position: relative;
  padding: 10px 20px 10px 0;

  transition: all 0.4s ease;
}

.faq-question::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;

  background-image: url('/src/icons/down.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease;
}

.faq-answer {
  font-family: Neue Kabel;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease;
}

.open {
  margin-bottom: 15px;
  .faq-question::after {
    transform: translateY(-50%) rotate(180deg);
  }
  .faq-answer {
    max-height: 1000px;
    opacity: 1;
  }
}
