.app {
  h1 {
    font-family: Neue Kabel;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 50px;
    /* or 104% */

    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #242424;
  }
  .header {
    font-family: Neue Kabel;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    /* or 139% */

    cursor: pointer;

    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #242424;
  }
  .faq-list {
    li {
      list-style-type: none;

      cursor: pointer;
    }
  }
}
